.lg-modal .modal-dialog {
  max-width: 1100px;
  padding: 15px;
}

.md-modal .modal-dialog {
  max-width: 800px;
  padding: 15px;
}

.sm-modal .modal-dialog {
  max-width: 500px;
  /* padding: 0 15px; */
}

.common-modal .btn-close-btn {
  position: absolute;
  right: -40px;
  top: -40px;
  background: rgb(255 255 255 / 30%);
  border-radius: 100px;
  padding: 9px;
  color: var(--dark-1);
  width: 44px;
  height: 44px;
}
.common-modal .btn-close-btn svg {
  display: block;
}

button.btn-close-btn:active:focus-visible, button.btn-close-btn:focus-visible, button.btn-close-btn:active  {
    outline: none !important;
    box-shadow: none !important;
    background: rgb(255 255 255 / 30%) !important;
    color: var(--dark-1) !important;
}


/*********************/

.icons-text-create-new svg {
    width: 34px;
    height: 34px;
    display: block;
    margin: 0 auto;
}

.icons-text-create-new {
    color: var(--dark-8);
}

.icons-text-create-new .text-box {
    margin-top: 7px;
}

.icons-text-create-new .text-box p {
    margin: 0;
    font-weight: 600;
}




@media screen and (max-width: 1199px) {
  .common-modal .btn-close-btn {
    right: 0;
    top: -50px;
  }
}

.common-modal .modal-content {
  border-radius: 24px;
}

.common-modal .modal-content .modal-header {
  background: var(--primary-50);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 16px 24px;
  border-bottom: 1px solid var(--dark-6);
}

.common-modal .modal-content .common-modal-body {
  padding: 24px 24px;
}

@media screen and (max-width: 767px) {
  .common-modal .modal-content .modal-header {padding: 15px;}
  .common-modal .modal-content .common-modal-body {
    padding: 24px 16px;
  }

  .lg-modal .modal-dialog {
    padding: 0;
  }

  .md-modal .modal-dialog {
    padding: 0;
  }



}